html{
		height:auto;
		border:3px solid #dbdbdb;
		font-size:13px;
		}
body{
		padding:0;
		margin:0;
		background-image:url(background_2.png);
		background-size:cover;
		background-repea:no-repeat;
		background-position:center;
		}
.reg1{
		width:60%;
		height:40%;
		borde:2px solid #dbdbdb;
		margin:3pc auto .5pc auto;
		}
.reg2{
		width:100%;
		}
.the_email,.the_button,.the_password{
		width:80%;
		margin:auto;
		}
input[type="email"],input[type="password"]{
		display: block;
		margin:auto auto 1pc auto;
		width:63%;
		padding:12px 20px;
		border-radius:10px;
		border:1px solid;
		outline:none;
		}
input[type="submit"]{
		display:block;
		margin:2pc auto auto auto;
		width:78%;
		padding:12px 20px;
		border-radius:10px;
		border:1px solid;
  	}
input[type="email"]:focus,input[type="password"]:focus,input[type="submit"]:focus{
		border:1px solid orange;
		}
input[type="password"]{
		margin:auto;
		}
.forgot{
		margin:auto;
		width:60%;
		}
input[type="submit"],.the_button{
		margin-top:1.5pc;
		}
.account{
		width:65%;
		margin:2pc auto;
		text-align:center;
		}
.return{
		background-color:green;
		width:max-content;
		margin:.5pc .5pc auto auto;
		text-align:right;
		padding:10px;
		border-radius:5px;
		}
.log{
		background-color:green;
		position:absolute;
		top:0px;
		padding:20px;
		border-radius:100% 100% 100% 50%;
		text-align:center;
		color:white;
		}
a{
		text-decoration:none;
		}
a:hover{
		text-decoration:underline;
		}



@media(min-width:768px){		
.reg1{
		width:55%;
		}
input[type="submit"]{
		width:68.5%;
		}	
.forgot{
		width:55%;
		}
	}
